.projects {
    gap: rem(50px);
    margin-bottom: rem(30px);
    h1 {
        margin: 5px 0px 5px 0px;
    }

    .vanila-projects {

        .projects-list {
            gap: rem(10px);
        }
    }

    .react-projects {

        .projects-list {
            gap: rem(10px);
        }
    }
}