.main-page {

    .stack-and-img {
        gap: rem(90px);

        .hero-and-info {
            width: 30%;

            .img-hero {
                width: rem(300px);
                height: rem(300px);
                border-radius: 50%;
            }
        }

        .stack-logos {
            gap: 4rem;
            .stock{
                gap:0.6rem;
            }
            .connections{
                width: 50%;
            }
            .link-to-projects, .connections-link {
                text-decoration: none;
                color: white;
                transition: 250ms;
                background-color: #444;
                border-radius: 10px;
                padding: 0.3rem;
                font-size: 2rem;

                &:hover {
                    transform: scale(1.05);
                    transition: 400ms;
                }
            }
        }


    }


    @include for-narrow-layout {
        // margin: 30px 0px 30px 0px;

        .stack-and-img {
            flex-direction: column;
            align-items: center;

            .hero-and-info {
                width: 100%;

                // .img-hero {
                //     width: rem(200px);
                //     height: rem(200px);
                // }

                .info {
                    width: 100%;

                }
            }
        }
    }
    @include for-mobile-layout {
        margin: 30px 0px 30px 0px;
        
        .stack-and-img {
            flex-direction: column;
            align-items: center;
            
            .hero-and-info {
                width: 100%;
                
                .img-hero {
                    width: rem(200px);
                    height: rem(200px);
                }
                
                .info {
                    width: 100%;
                    
                }
            }
            .stack-logos{

                .connections{
                    gap: rem(20px);
                }
            }

        }
    }
}